.custom__button {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;

    color: #FDFBEF;
    background-color: transparent;


    border-radius: 16px;
    width: 236px;
    height: 58px;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}