.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 24px 12px;
    background: none;
    z-index: 100;
}

/* Навигационное меню */
.header__nav-list {
    display: flex;
    gap: 20px;
}

.header__nav-link {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FDFBEF;
    transition: color 0.3s ease;
}

.header__nav-link:hover {
    color: #51e889;
}

/*Блок контактов и авторизации*/
.header__controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__phone {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FDFBEF;
    font-weight: 500;
    transition: 0.3s ease;
}

.header__phone:hover {
    color: #51e889;
}

.header__login-button {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FDFBEF;

    width: 232px;
    height: 57px;

    background-color: transparent;
    border: 1px solid #FDFBEF;
    border-radius: 16px;

    cursor: pointer;
    transition: 0.3s ease;
}

.header__login-button:hover {
    color: #4EE889;
}