.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 24px 12px;
    background-color: transparent;
    z-index: 100;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Блок логотипа*/
.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo-icon {
    width: 36px;
    height: 36px;
    color: #ffffff;
}

.header__logo-text {
    font-family: "SF Pro", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

/* Навигационное меню */
.header__list {
    display: flex;
    gap: 20px;
}

.header-nav__link {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FDFBEF;
    transition: color 0.3s ease;
}

.header-nav__link:hover {
    color: #51e889;
}

/*Блок контактов и авторизации*/
.header__controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__phone {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FDFBEF;
    font-weight: 500;
    transition: 0.3s ease;
}

.header__phone:hover {
    color: #51e889;
}

.header__login-button {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FDFBEF;

    width: 232px;
    height: 57px;

    background-color: transparent;
    border: 1px solid #FDFBEF;
    border-radius: 16px;

    cursor: pointer;
    transition: 0.3s ease;
}

.header__login-button:hover {
    color: #4EE889;
}