.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;

    background: linear-gradient(to bottom,
    #012025 0%,
    #1D543B 30%,
    #2F7C4A 60%,
    #57A35D 85%,
    #8FCF87 100%
    );

    padding-top: 100px;
}

.hero__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title {
    font-size: 64px;
}

.hero__description {
    font-size: 24px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);

    margin-top: 20px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin-top: 64px;
}

.hero__button {
    border: 2px solid rgba(253, 251, 239, 0.3);
}

.hero__button:nth-child(2):hover {
    border: 2px solid #ffffff;
}

.hero__button--active {
    border: 2px solid #75D317;
}

.hero-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;

    margin-top: 20px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}