.contact-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: relative;

    width: 100%;
    height: 100vh;

    margin: 40px 0 0 0;
}

/*Фоновое видео секции контакты*/
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*Контактная форма*/
.contact-card {
    max-width: 500px;

    padding: 30px;
    border-radius: 18px;

    background-color: #f5f5f5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.contact-card__title {
    color: #000000;
}

.contact-card__description {
    margin-top: 8px;
    color: #000000;
    line-height: 1.5;
}

.contact-card__form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-top: 20px;
}

.contact-card__input,
.contact-card__textarea {
    width: 100%;
    padding: 12px 16px;

    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;

    border: 1px solid #cdcdcd;
    border-radius: 8px;

    transition: border-color 0.3s ease;
}

.contact-card__input:focus,
.contact-card__textarea:focus {
    border-color: #29b621;
    outline: none;
}

.contact-card__input::placeholder,
.contact-card__textarea::placeholder {
    color: #979797;
}

.contact-card__textarea {
    resize: vertical;
    min-width: 440px;
    min-height: 100px;

    max-height: 230px;
}

/*Кнопки*/
.contact-card__controllers {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.contact-card__button {
    width: 100%;
    padding: 14px 20px;

    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #ffffff;
    background-color: #4EBA4E;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-card__button:nth-child(2) {
    background-color: rgb(189, 189, 189);
}

.contact-card__button:nth-child(1):hover {
    background-color: #4FA64F;
}


.contact-card__note {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;

    color: #a3a3a3;
    text-align: left;

    margin-top: 10px;
}

/* Стили для ошибок валидации */
.contact-card__input:invalid:not(:placeholder-shown),
.contact-card__textarea:invalid:not(:placeholder-shown) {
    border-color: #c5382b;
}

.contact-card__input:valid:not(:placeholder-shown),
.contact-card__textarea:valid:not(:placeholder-shown) {
    border-color: #4EBA4E;
}