/*Блок логотипа*/
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 36px;
    height: 36px;
    color: #ffffff;
}

.logo-text {
    font-family: "SF Pro", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}