.custom__icon {
    position: absolute;
    right: 0;
    bottom: 0;

    /* Стандартные размеры */
    width: 120px;
    height: 120px;

    /* Сохранение пропорций */
    object-fit: contain;

    /* Отключение выделения */
    user-select: none;
    -webkit-user-drag: none;

    z-index: 0;
}

.custom__icon-1 {
    top: 220px;
    left: 220px;

    width: 220px;
    height: 220px;
}

.custom__icon-2 {
    top: 120px;
    left: 520px;

    width: 220px;
    height: 220px;
}

.custom__icon-3 {
    top: 60px;
    left: 820px;

    width: 220px;
    height: 220px;
}

.custom__icon-4 {
    top: 420px;
    left: 1220px;

    width: 180px;
    height: 180px;
}

.custom__icon-5 {
    top: 560px;
    left: 460px;

    width: 120px;
    height: 120px;
}

.custom__icon-6 {
    top: 360px;
    left: 960px;

    width: 120px;
    height: 120px;
}

.custom__icon-7 {
    top: 410px;
    left: 120px;

    width: 120px;
    height: 120px;
}