.slogan-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

    color: #07484a;
    background-color: #ffffff;

    padding: 0 260px;
    margin: 50px 0;
}

.slogan-label__text {
    font-family: "SF Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}
